body {
    background-color: black;
    background-image: url('img/wallpaper002.jpg');
    background-position: center top;
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
}

main {
    background-color: white;
    width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid blue;
    border-radius: 15px;
}